@{ ViewData["Title"] = "Forum | Home"; }
<link rel="stylesheet" href="~/css/Home.css">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">Forum</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a asp-controller="Category" asp-action="ShowForum">Home</a></li>
            <li><a asp-controller="Category" asp-action="ShowCategories">Categories</a></li>
            <li><a asp-controller="Category" asp-action="ShowSearch">Search</a></li>
            @if(@ViewBag.AuthLevel == "admin"){
                <li><a asp-controller="User" asp-action="ShowUsers">Edit Users</a></li>
            }
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a asp-controller="User" asp-action="EditUser" asp-route-userId="0"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li><a asp-controller="User" asp-action="Logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="welcome">
        <h1>Welcome to the Forum</h1>
        <h3>This is the home base for all of the cool stuff that goes on here!</h3>
        <hr>
    </div>

    <div class="top">
        <h3>Top Topics</h3>
        @foreach(var topic in @ViewBag.Popular){
            <div class="topic row">
                <p class='bold col-xs-6'><a asp-controller="Topic" asp-action="ShowTopic" asp-route-id="@topic.Id"->@topic.Name</a></p> 
                <p class='col-xs-6'> - Views: @topic.Views</p>
            </div>
        }
    </div>

    <div class="recent">
        <hr>
        <h3>Recent Topics</h3>
        @foreach(var topic in @ViewBag.Recent){
            <div class="topic row">
                <p class='bold col-xs-6'><a asp-controller="Topic" asp-action="ShowTopic" asp-route-id="@topic.Id"->@topic.Name</a></p>
                <p class='col-xs-6'> - Created On: @topic.CreatedAt.ToString("M/dd @ h:mm tt")</p>
            </div>
        }
    </div>
</div>